body {
    max-width: 90%;
    margin: auto;
    /* background-color: beige;
    background-image: url(http://www.xinhuanet.com/english/2017-09/19/136621048_15058066625161n.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover; */
    background-image: linear-gradient(-90deg, #F2C14E, #F78154); 
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 0.3em;
    font-size: 18px;
    color: darkblue;
}

a:link, :visited, :active {
    text-decoration: underline;
    color: darkblue;
}

a:hover {
    font-size: 150%;
}

blockquote {
    max-width: 50%;
    margin: auto;
    text-align: justify;
    font-size: 160%;
    background-color: lightgray;
    border-left-width: 3px;
    border-left-style: dashed;
    padding: 30px;
    margin: 80px 0;
}